_site
.sass-cache
Gemfile.lock
*.gem
.jekyll-cache

# Logs
*.log

# Temporary files
*.tmp
*~
~*

# Arduino/CPP
# Prerequisites
*.d

# Compiled Object files
*.o

# Binary files
*.hex
*.elf
*.map
/firmware/build/*
!/firmware/build/arduino*/